___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Additional Datetime Tricks

In [1]:
# RUN THIS CELL
import pandas as pd
%matplotlib inline

## Convert Unix Timestamp to Datetime format
Unix timestamps are 10-digit codes representing the number of seconds since <tt>'1970-01-01 00:00:00'</tt>. Dates prior to 1970 are given as negative numbers.<br>
We can convert timestamps to datetime format by passing <strong>unit='s'</strong> into the <tt>df.to_datetime()</tt> method.

In [6]:
df = pd.read_csv('timestamp.csv',encoding='utf8')
df

    Timestamp                         Significance
0  1098835200  Boston Red Sox win the World Series
1   626572800                    Berlin Wall falls
2   490060800             Live Aid benefit concert
3   -14182980          Apollo 11 lands on the moon

In [7]:
df['Date']=pd.to_datetime(df['Timestamp'],unit='s')
df

    Timestamp                         Significance                Date
0  1098835200  Boston Red Sox win the World Series 2004-10-27 00:00:00
1   626572800                    Berlin Wall falls 1989-11-09 00:00:00
2   490060800             Live Aid benefit concert 1985-07-13 00:00:00
3   -14182980          Apollo 11 lands on the moon 1969-07-20 20:17:00